
h1 {
    flex-shrink: 0;
    font-size: 34px;
}

h2 {
    margin-bottom: 20px;
    font-size: 25px;
}

button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

label {
    width: 100%;
}

input {
    width: 100%;
    padding: 4px 10px;
    border: 1px darkgrey solid;
    border-radius: 5px 0 0 5px;
}

hr {
    color: darkgrey;
}

img {
    width: 100%;
    /*border-radius: 10px;*/
}

.main-content__ad-image{
    /*width: 50%;*/
    border-radius: 10px;
}

p {
    margin: 0;
}
.icons{
    width: 21px;
    height: 21px;
}
.header-top {
    padding: 8px;
    background-color: #49516F;
}

.header-top__enter{
    display: flex;
}

.container {
    width: 1400px;
}

.header-top-end {
    display: flex;
    justify-content: end;
}

.button-line-white {
    color: white;
    background: none;
}

.button-blue {
    display: flex;
    align-items: center;
    color: white;
    background-color: #6697E6;
}

.header-bottom {
    margin-top: 16px;
}

.header-bottom-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.header-bottom__categories {
    flex-shrink: 0;
}

.button-line-blue {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 10px;
    color: #6697E6;
    background: none;
    border: 1px #6697E6 solid;
}

.header-bottom__search-bar {
    display: flex;
    flex-basis: 100%;
}

.button-search {
    color: white;
    background-color: #6697E6;
    border-radius: 0 5px 5px 0;
}

.main-content > .container {
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.main-content__ad div:nth-child(3n){
    margin-right: 0;
}

.main-content__ad{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.main-content__ad-item{
    margin-bottom: 16px;
    width: calc(20% - 8px);
}

.main-content__ad-description {
    margin-top: 5px;
}

.ad-name {
    color: #6697E6;
    font-size: 20px;
    font-weight: bold;
}

.ad-cost {
    font-size: 20px;
    font-weight: bold;
}

.ad-text {
    font-size: 15px;
}